<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <title>Admin DashBoard</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/admin_dashboard.css">
</head>
<body>
<div class="app-container">
    <div class="sidebar">
        <div class="sidebar-header">
            <div class="app-icon">
                <img src="~/Assets/Images/Logo.svg" alt="">
            </div>
        </div>
        <ul class="sidebar-list">
            <li class="sidebar-list-item">
                <a href="#">
                    <lord-icon
                        src="https://cdn.lordicon.com/igpbsrza.json"
                        trigger="loop-on-hover"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <span>Home</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-page="/admin/dashBoard">
                    <lord-icon
                        src="https://cdn.lordicon.com/ocvcrrch.json"
                        trigger="loop-on-hover"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <span>Pizzas</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-page="/Admin/Drinks/DrinkManagement">
                    <lord-icon
                        src="https://cdn.lordicon.com/rjkghepa.json"
                        trigger="loop-on-hover"
                        colors="primary:#121331,secondary:#000000"
                        style="width:250px;height:250px">
                    </lord-icon>
                    <span>Drinks</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-page="/Admin/Categories/CategoryManagement">
                    <lord-icon
                        src="https://cdn.lordicon.com/aslgozpd.json"
                        trigger="loop-on-hover"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <span>Categories</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-page="/Admin/Members/MemberManagement">
                    <lord-icon
                        src="https://cdn.lordicon.com/dklbhvrt.json"
                        trigger="loop-on-hover"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <span>Members</span>
                </a>
            </li>
            <li class="sidebar-list-item">
                <a asp-page="/Admin/Orders/OrderManagement">
                    <lord-icon
                        src="https://cdn.lordicon.com/osqwjgzg.json"
                        trigger="loop-on-hover"
                        style="width:32px;height:32px">
                    </lord-icon>
                    <span>Orders</span>
                </a>
            </li>
        </ul>
        <div class="account-info">
            <div class="account-info-picture">
                <img src="~/Assets/Avatar/Bust/peep-1.svg" alt="Account">
            </div>
            <div class="account-info-name">ChisKien</div>
            <button class="account-info-more">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal">
                    <circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="app-content">
        @RenderBody()
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.lordicon.com/lusqsztk.js"></script>
<script src="~/js/admin.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>