$colorssss: #faf1e6;
$primary-color: #FFB4B4;
$secondary-color: #FFE2E2;

$button-gradient: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
$button-gradient-reverse: linear-gradient(135deg, #ff9a9e 100%, #fad0c4 99%, #fad0c4 0%);
$link-color: #fff;


$button-box-shadow: 0px 10px 15px 2px rgba(0, 0, 0, 0.1);

$font-small: 16px;
$font-semi-medium: 20px;
$font-medium: 24px;
$font-large: 32px