@import "variable";

body {
  background-color: $background-color;
}

.navbar {
  font-size: $font-semi-medium;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 60px;
}

.hero-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3vh 0 13vh 0;

  &-left {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-right {
    width: 50%;
    height: 500px;
  }

  .slogan-section {
    text-align: center;

    &-text {
      margin-bottom: 40px;
    }
  }
}


.btn-primary {
  color: $link-color;
  font-weight: 600;
  background-image: $button-gradient;
  box-shadow: $button-box-shadow;
  text-transform: uppercase;
  vertical-align: bottom;
  padding: 0.625rem 1.5rem .5rem;
  line-height: 1.5;
  outline: none;

  &:hover {
    background-image: $button-gradient-reverse;
  }

  &-category {
    background-color: $secondary-color;
  }
}

.product-section {
  margin: 40px 0;
}

.category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/*----------------------------------------Detail-------------------------------*/
.detail-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3vh 0 13vh 0;

  &-right {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-left {
    width: 50%;
    height: 500px;
  }

  &-information {
    &-text {
      margin-bottom: 40px;
    }
  }
}