@page
@model PizzaHubWebApp.Pages.Admin.Members.CreateMember
@{
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
<form method="post" enctype="multipart/form-data">
    Email* <input type="email" name="email" required/>
    Password* <input type="password" name="pass" placeholder="Password" required/>
    Date Of Birth <input type="date" name="dob"/>
    Phone <input type="number" name="phone"/>
    Address <input type="text" name="address"/>
    City <input type="text" name="city"/>
    Country <input type="text" name="country"/>
    Avatar <input type="file" name="ava"/>
    <input type="submit"/>
</form>