@page
@model PizzaHubWebApp.Pages.Cart

@{
    Layout = "Shared/_Layout";
}
<h2 class="text-center">Cart</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Pizza Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Pizza Name</td>
        <td>Category</td>
        <td>Quantity</td>
        <td>Price</td>
    </tr>
    </tbody>
</table>
<p>Total: </p>
<a asp-page="CheckOut" asp-route-id="@Model" class="btn btn-primary"></a>