@page 
@model PizzaHubWebApp.Pages.Cart

@{
    Layout = "Shared/_Layout";
}
<h2 class="text-center">Cart</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Pizza Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>@Model.Pizza.PizzaName</td>
        <td>@Model.Pizza.Category.CategoryName</td>
        <td>@Model.Quantity</td>
        <td>@Model.TotalPrice</td>
    </tr>
    </tbody>
</table>
<form method="post">
    Address: <input type="text" name="address" required /><br />
    Note: <input type="text" name="note" /><br />
    <input type="submit" class="btn btn-primary" value="Checkout" />
</form>
