@page
@model IndexModel
@{

}
<div class="container-fluid">
    <section class="hero-section">
        <div class="hero-section-left">
            <div class="slogan-section">
                <h3>The Best Pizza Brand in The World</h3>
                <button class="btn btn-primary">Order now</button>
            </div>
        </div>
        <div class="hero-section-right">
            <img src="~/Assets/Images/pizza chef.svg" alt="">
        </div>
    </section>
    <div class="container">
        <div class="product-section">
            <div class="categories-section">
                <ul class="category-list">
                    @foreach (var item in Model.Categories)
                    {
                        <li>@item.CategoryName</li>
                        <li>
                            <img src="@item.Image" alt="@item.Image"/>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>