@page
@model PizzaHubWebApp.Pages.Admin.Category.CategoryManagment

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>

</div>
</body>
</html>